<div class="container">
  <h2>Players</h2>



  <!-- Todos input -->
  <form role="form" ng-submit="addPlayer()">
    <div class="row">
      <p class="input-group">
        <input type="text" ng-model="newPlayer" placeholder="What is your name?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" id="addPlayer" value="Add" >
        </span>
      </p>
    </div>
  </form>

    <!-- Todos list -->

    <div class="row">
    <p class="input-group" ng-repeat="player in players">
      <input type="text" ng-model="player" class="form-control" readonly ng-click="play(player)">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="play(player)" aria-label="Play">Play</button>
        <button class="btn btn-danger" ng-click="removePlayer($index)" aria-label="Remove">X</button>
      </span>
    </p>
    </div>

</div>

